Tabula ve Pandas kullanarak PDF dosyasından tablo çıkartma ve düzenleme örneği.
Not: Lütfen çalıştırmadan önce sisteminizde tabula'yı çalıştırmak için Java 8 veya üzeri bir versiyon kullanmanız gerekmektedir.

Google Colab üzerinden kullanacak olanlar alttaki satırı çalıştırarak tabula-py kütüphanesini kurduktan sonra kullanmaya başlayabilirler.

In [18]:
import tabula as tb
import pandas as pd

dosya_yolu = r"tablo201122020.pdf"

In [19]:
df = tb.read_pdf(dosya_yolu,pages="all",lattice = True)
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,ARANAN NİTELİKLER*,Unnamed: 7,Unnamed: 8
0,ÖSYM KODU,SB KODU,KURUM ADI,POZİSYON UNVANI,İL ADI,TEŞKİLAT,POZİSYON\rSAYISI,NİT1,NİT2
1,225701101,25701,ADANA 41 NOLU ACİL SAĞLIK HİZMETLERİ İSTASYONU,SAĞLIK TEKNİKERİ (İLK VE ACİL\rYARDIM),ADANA,SB-TAŞRA,3,3005,NaN
2,225703101,25703,ADANA 42 NOLU ACİL SAĞLIK HİZMETLERİ İSTASYONU,SAĞLIK TEKNİKERİ (İLK VE ACİL\rYARDIM),ADANA,SB-TAŞRA,3,3005,NaN
3,225705101,25705,ADANA 43 NOLU ACİL SAĞLIK HİZMETLERİ İSTASYONU,SAĞLIK TEKNİKERİ (İLK VE ACİL\rYARDIM),ADANA,SB-TAŞRA,3,3005,NaN
4,225709101,25709,ADANA 44 NOLU ACİL SAĞLIK HİZMETLERİ İSTASYONU,SAĞLIK TEKNİKERİ (İLK VE ACİL\rYARDIM),ADANA,SB-TAŞRA,4,3005,NaN

In [20]:
bolum = df[df['Unnamed: 3'] == "SAĞLIK TEKNİKERİ (İLK VE ACİL\rYARDIM)"]
bolum.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,ARANAN NİTELİKLER*,Unnamed: 7,Unnamed: 8
1,225701101,25701,ADANA 41 NOLU ACİL SAĞLIK HİZMETLERİ İSTASYONU,SAĞLIK TEKNİKERİ (İLK VE ACİL\rYARDIM),ADANA,SB-TAŞRA,3,3005,NaN
2,225703101,25703,ADANA 42 NOLU ACİL SAĞLIK HİZMETLERİ İSTASYONU,SAĞLIK TEKNİKERİ (İLK VE ACİL\rYARDIM),ADANA,SB-TAŞRA,3,3005,NaN
3,225705101,25705,ADANA 43 NOLU ACİL SAĞLIK HİZMETLERİ İSTASYONU,SAĞLIK TEKNİKERİ (İLK VE ACİL\rYARDIM),ADANA,SB-TAŞRA,3,3005,NaN
4,225709101,25709,ADANA 44 NOLU ACİL SAĞLIK HİZMETLERİ İSTASYONU,SAĞLIK TEKNİKERİ (İLK VE ACİL\rYARDIM),ADANA,SB-TAŞRA,4,3005,NaN
5,225710101,25710,ADANA 45 NOLU ACİL SAĞLIK HİZMETLERİ İSTASYONU,SAĞLIK TEKNİKERİ (İLK VE ACİL\rYARDIM),ADANA,SB-TAŞRA,4,3005,NaN

In [21]:
bolum.pop("Unnamed: 1")
bolum.pop("Unnamed: 5")
bolum.pop("Unnamed: 7")
bolum.pop("Unnamed: 8")
bolum.head()

,Unnamed: 0,Unnamed: 2,Unnamed: 3,Unnamed: 4,ARANAN NİTELİKLER*
1,225701101,ADANA 41 NOLU ACİL SAĞLIK HİZMETLERİ İSTASYONU,SAĞLIK TEKNİKERİ (İLK VE ACİL\rYARDIM),ADANA,3
2,225703101,ADANA 42 NOLU ACİL SAĞLIK HİZMETLERİ İSTASYONU,SAĞLIK TEKNİKERİ (İLK VE ACİL\rYARDIM),ADANA,3
3,225705101,ADANA 43 NOLU ACİL SAĞLIK HİZMETLERİ İSTASYONU,SAĞLIK TEKNİKERİ (İLK VE ACİL\rYARDIM),ADANA,3
4,225709101,ADANA 44 NOLU ACİL SAĞLIK HİZMETLERİ İSTASYONU,SAĞLIK TEKNİKERİ (İLK VE ACİL\rYARDIM),ADANA,4
5,225710101,ADANA 45 NOLU ACİL SAĞLIK HİZMETLERİ İSTASYONU,SAĞLIK TEKNİKERİ (İLK VE ACİL\rYARDIM),ADANA,4

In [22]:
bolum = bolum.rename(columns={"Unnamed: 0" : "Kod", "Unnamed: 2": "Yer", "Unnamed: 3": "Alan", "Unnamed: 4": "Şehir","ARANAN NİTELİKLER*": "Sayı"})
bolum.head()

,Kod,Yer,Alan,Şehir,Sayı
1,225701101,ADANA 41 NOLU ACİL SAĞLIK HİZMETLERİ İSTASYONU,SAĞLIK TEKNİKERİ (İLK VE ACİL\rYARDIM),ADANA,3
2,225703101,ADANA 42 NOLU ACİL SAĞLIK HİZMETLERİ İSTASYONU,SAĞLIK TEKNİKERİ (İLK VE ACİL\rYARDIM),ADANA,3
3,225705101,ADANA 43 NOLU ACİL SAĞLIK HİZMETLERİ İSTASYONU,SAĞLIK TEKNİKERİ (İLK VE ACİL\rYARDIM),ADANA,3
4,225709101,ADANA 44 NOLU ACİL SAĞLIK HİZMETLERİ İSTASYONU,SAĞLIK TEKNİKERİ (İLK VE ACİL\rYARDIM),ADANA,4
5,225710101,ADANA 45 NOLU ACİL SAĞLIK HİZMETLERİ İSTASYONU,SAĞLIK TEKNİKERİ (İLK VE ACİL\rYARDIM),ADANA,4

In [23]:
bolum = bolum.sort_values(by="Sayı")
bolum.head()

,Kod,Yer,Alan,Şehir,Sayı
691,288794702,HATAY YAYLADAĞI 2 NOLU ACİL SAĞLIK HİZMETLERİ ...,SAĞLIK TEKNİKERİ (İLK VE ACİL\rYARDIM),HATAY,1
1421,211075103,TEKİRDAĞ ÇORLU 2 NOLU ACİL SAĞLIK HİZMETLERİ İ...,SAĞLIK TEKNİKERİ (İLK VE ACİL\rYARDIM),TEKİRDAĞ,1
732,272681802,İSTANBUL PENDİK 11 NOLU ACİL SAĞLIK HİZMETLERİ...,SAĞLIK TEKNİKERİ (İLK VE ACİL\rYARDIM),İSTANBUL,1
728,272249301,İSTANBUL ESENYURT 6 NOLU ACİL SAĞLIK HİZMETLER...,SAĞLIK TEKNİKERİ (İLK VE ACİL\rYARDIM),İSTANBUL,1
1422,272715102,TEKİRDAĞ ÇORLU 5 NOLU ACİL SAĞLIK HİZMETLERİ İ...,SAĞLIK TEKNİKERİ (İLK VE ACİL\rYARDIM),TEKİRDAĞ,1

In [24]:
bolum.to_excel("dosya_ismi.xlsx", "tercih tablosu")